bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
[Bb]atch[Cc]onvertTo[Cc][Hh][Dd]/[Rr]eferences/
*.DotSettings.user
*.user
next-app/node_modules/
next-app/dist/
next-app/src-tauri/target/
next-app/src-tauri/bin/
next-app/src-tauri/icons/android/
next-app/src-tauri/icons/ios/
next-app/src-tauri/icons/Square*Logo.png
next-app/src-tauri/icons/StoreLogo.png
/work/
