bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
[Bb]atch[Cc]onvertTo[Cc][Hh][Dd]/[Rr]eferences/
*.DotSettings.user
*.user
next-app/node_modules/
next-app/dist/
next-app/src-tauri/target/
